trunk/examples/santa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:attributeGroup name="idable">
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="ref" type="xs:NCName"/>
    </xs:attributeGroup>

    <xs:element name="santa">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="replicates" type="xs:string"/>
                <xs:element ref="simulation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="simulation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="genome"/>
                <xs:element ref="population"/>
                <xs:element ref="fitnessFunction"/>
                <xs:element ref="mutator"/>
                <xs:element ref="replicator"/>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="epoch"/>
                <xs:element ref="samplingSchedule"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="genome">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="length" type="xs:string"/>
                <xs:element minOccurs="0" name="sequences" type="xs:string"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="feature"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="feature">
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="type">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="nucleotide"/>
                            <xs:enumeration value="aminoAcid"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="coordinates" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="population">
        <xs:complexType>
            <xs:all>
                <xs:element name="populationSize" type="xs:string"/>
                <xs:element name="inoculum">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="consensus"/>
                            <xs:enumeration value="random"/>
                            <xs:enumeration value="all"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="epoch">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" name="name" type="xs:string"/>
                <xs:element name="generationCount" type="xs:string"/>
                <xs:element minOccurs="0" ref="fitnessFunction"/>
                <xs:element minOccurs="0" ref="mutator"/>
                <xs:element minOccurs="0" ref="replicator"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="fitnessFunction">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="purifyingFitness"/>
                <xs:element ref="empiricalFitness"/>
                <xs:element ref="ageDependentFitness"/>
                <xs:element ref="exposureDependentFitness"/>
                <xs:element ref="populationSizeDependentFitness"/>
                <xs:element ref="frequencyDependentFitness"/>
                <xs:element ref="neutralFitness"/>
            </xs:choice>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:group name="feature-sites">
        <xs:sequence>
            <xs:element minOccurs="0" name="feature" type="xs:NCName"/>
            <xs:element minOccurs="0" name="sites" type="xs:string"/>
        </xs:sequence>
    </xs:group>

    <xs:element name="purifyingFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
                <xs:element name="rank">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="order" type="xs:string"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="probableSet" type="xs:string"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="breakTies">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="random"/>
                                        <xs:enumeration value="ordered"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="fitness">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:sequence>
                                    <xs:element name="lowFitness" type="xs:string"/>
                                    <xs:element name="minimumFitness" type="xs:string"/>
                                </xs:sequence>
                                <xs:element name="values" type="xs:string"/>
                                <xs:element name="betaDistributed">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="a" type="xs:string"/>
                                            <xs:element name="b" type="xs:string"/>
                                            <xs:element name="pLethal" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="fluctuate">
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="fitnessLimit" type="xs:string"/>
                            <xs:element name="rate" type="xs:string"/>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="empiricalFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
                <xs:element name="values" type="xs:string"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="ageDependentFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
                <xs:element name="declineRate" type="xs:string"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

<xs:element name="populationSizeDependentFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
                <xs:element name="declineRate" type="xs:string"/>
                <xs:element name="maxPopulationSize" type="xs:string"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="exposureDependentFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
                <xs:element name="penalty" type="xs:string"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="frequencyDependentFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
                <xs:element name="shape" type="xs:string"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="neutralFitness">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:group ref="feature-sites"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="mutator">
        <xs:complexType>
            <xs:all>
                <xs:element ref="nucleotideMutator"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="nucleotideMutator">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="mutationRate" type="xs:string"/>
                <xs:choice>
                    <xs:element name="transitionBias" type="xs:string"/>
                    <xs:element name="rateBias" type="xs:string"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>


    <xs:element name="replicator">
        <xs:complexType>
            <xs:choice>
                <xs:element ref="clonalReplicator"/>
                <xs:element ref="recombinantReplicator"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="clonalReplicator">
        <xs:complexType>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="recombinantReplicator">
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="dualInfectionProbability" type="xs:string"/>
                <xs:element name="recombinationProbability" type="xs:string"/>
            </xs:sequence>
            <xs:attributeGroup ref="idable"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="samplingSchedule">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="sampler"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="sampler">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="atFrequency" type="xs:string"/>
                    <xs:element name="atGeneration" type="xs:string"/>
                </xs:choice>
                <xs:element name="fileName" type="xs:string"/>
                <xs:choice>
                    <xs:element ref="alleleFrequency"/>
                    <xs:element ref="alignment"/>
                    <xs:element ref="tree"/>
                    <xs:element ref="statistics"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="alleleFrequency">
        <xs:complexType>
            <xs:all>
                <xs:element minOccurs="0" name="feature" type="xs:string"/>
                <xs:element minOccurs="0" name="sites" type="xs:string"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="alignment">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="schedule"/>
                    <xs:element name="sampleSize" type="xs:positiveInteger"/>
                </xs:choice>
                <xs:element name="format">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="NEXUS"/>
                            <xs:enumeration value="FASTA"/>
                            <xs:enumeration value="XML"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="label" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="tree">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="schedule"/>
                    <xs:element name="sampleSize" type="xs:positiveInteger"/>
                </xs:choice>
                <xs:element name="format">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="NEXUS"/>
                            <xs:enumeration value="NEWICK"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="label" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="schedule">
        <xs:simpleType>
            <xs:list itemType="xs:positiveInteger"/>
        </xs:simpleType>
    </xs:element>

    <xs:element name="statistics"/>
</xs:schema>
